h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 20px;
    color: purple;
}
button{
    display: inline;
    width: 180px;
    height: 35px;
    background-color: #1551C7;
    color: white;
    border-radius: 15px;
    border-color: #1551C7;
    font-size: 20px;
}
.container{
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #B1FFFF;
    border-radius: 30px;
}
.box{
    background-color: #EFFBCC;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px;
}
.box h3{
    padding: 10px;
    padding-left: 20px;
}
.button{
    text-align: center;
    padding: 10px;
}
.box input[type="submit"]{
    /* background-color: #14A49B;
    border-color: #14A49B; */
    border-radius: 10px;
    height: 35px;
    margin-left: 5px;
    cursor: pointer;
    width: 110px;
    margin-right: 5px;
    text-align: center;
}
.button input[type="submit"]{
    /* background-color: #14A49B;
    border-color: #14A49B; */
    border-radius: 10px;
    height: 45px;
    margin-left: 5px;
    cursor: pointer;
    width: 180px;
    margin-right: 5px;
    text-align: center;
    font-size: 25px;
}
.box input[name="fullCV"]{
    background-color: #1551C7;
    border-color: #1551C7;
    color: white;
}

.button input[name="updateCV"]{
    background-color: #D32828;
    border-color: #D32828;
    color: white;
}
.box input[name="download"]{
    background-color: #1551C7;
    border-color: #1551C7;
    color: white;
}


a{
    text-decoration: none;
}
label{
    width: 80%;
    align-items: left;
    text-align: left;
    margin-top: 0;
    font-size: 35px;
}
b{
    font-size: 35px;
    padding-left: 20%;
}