@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.rapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main .container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    border: 1px solid #21C87A;
    border-top: 10px solid #21C87A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    margin-bottom: 20px;
}


.container .logo {
    display: flex;
    width: 200px;
    padding: 10px;
    align-items: center;
}

.container .logo img {
    width: 200px;
    height: 120px;
}

.container .block {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container .block .row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5px 20px 5px;
}

.container .block .row1 .title {
    font-size: 25px;
}

.container .block .row1 .btn button {
    margin-right: 30px;
    padding: 8px;
    height: 40px;
    width: 250px;
    font-weight: 900;
    font-size: 18px;
    background-color: #21C87A;
    color: #fff;
    cursor: pointer;
    border: 1px solid #21C87A;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    letter-spacing: .2em;
    text-transform: uppercase;
}

.container .block .row1 .btn button:hover {
    background-color: #fff;
    color: #21C87A;
    font-weight: bold;
    transition: all ease 0.3s;
}

.container .block .row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5px 20px 5px;
}

.container .block .row2 p {
    padding: 5px;
    text-align: justify;
}

.container .block .row2 strong {
    font-weight: bold;
    font-size: 20px;
}

.container .block .row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px 5px 5px;
}

.container .block .row3 p {
    padding: 5px;
    text-align: justify;
}

.container .block .row3 strong {
    font-weight: bold;
    font-size: 20px;
}

.line1 {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #aaa;
}

.topic1 h3 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    font-family: Montserrat;
    text-align: center;
    border-bottom: 1px solid red;
}

.topic2 h3 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    font-family: Montserrat;
    text-align: center;
    border-bottom: 1px solid red;
}

h5 {
    margin: 20px 200px 0px 200px;
    font-size: 18px;
    border-bottom: 1px solid #C2C6CC;
    padding-bottom: 10px;
    font-family: Montserrat;
}

.line2 {
    margin-top: 20px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #aaa;
}

.posts {
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dumy {
    margin-top: 25px;
    width: 1020px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #21C87A;
    border-top: 10px solid #21C87A;
    border-radius: 18px;
    padding: 15px;
    font-family: Montserrat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.dumy .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dumy .row .title {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.dumy .row .btn button {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #21C87A;
    color: #fff;
    cursor: pointer;
    border: 1px solid #21C87A;
    letter-spacing: .2em;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
}

.dumy .row .btn button:hover {
    background-color: #fff;
    color: #21C87A;
    font-weight: bold;
    transition: all ease 0.3s;
}

.dumy .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 100px 10px 0;
}

.dumy .block .block1 strong {
    font-size: 18px;
    font-weight: bold;
}

.dumy .block .block2 strong {
    font-size: 18px;
    font-weight: bold;
}

.dumy .block .block3 strong {
    font-size: 18px;
    font-weight: bold;
}

.dumy .description {
    text-align: justify;
    box-sizing: border-box;
    margin-top: 10px;
}

.rapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rapper1 .block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    width: 500px;
    border: 1px solid #21C87A;
    border-top: 10px solid #21C87A;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.rapper1 .block:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.rapper1 .block .block1 {
    display: flex;
    flex-wrap: wrap;
}

.rapper1 .block .block1 .img {
    width: 60px;
}

.rapper1 .block .block1 .img img {
    width: 50px;
    height: 50px;
}

.rapper1 .block .block1 .profile {
    padding: 5px;
}

.rapper1 .block .block1 .profile .name {
    font-weight: bold;
    font-size: 17px;
}

.rapper1 .block .block1 .profile .email {
    margin-top: 5px;
    color: #414141;
    font-size: 14px;
}

.rapper1 .block .block2 {
    margin-top: 5px;
    text-align: justify;
    padding: 8px;
    font-size: 14px;
}