@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: rgb(255, 255, 255);
    /* background: linear-gradient(90deg, rgb(150, 238, 197) 0%, rgba(255, 255, 255, 1) 50%, rgb(156, 236, 211) 100%); */
}
.header {
    background-color: #21C87A;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    border-radius: 100px;
    width: 40px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-right: 10px; /* Add some spacing between the logo and website name */
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.navbar {
    font-size: 25px;
    background-color: #21C87A;
    overflow: hidden;
    position: sticky;
    top: 0;
    right: 0;
    width: 1500px;
    z-index: 15;
}
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.ftr{
    width: 100%;
    background-color: #21C87A;
    position: sticky;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    height: 60px;
    justify-content: space-between;
    padding: 17px;
}
/* nav {
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    border-bottom: .5px solid black;
    font-family: Montserrat;
    font-weight: bold;
    width: 100%;
    z-index: 11;
}

nav img {
    position: absolute;
    top: 10px;
    width: 60px;
    height: 60px;
    left: 20px;
    border: 0;
    border-radius: 50%;
}

nav h1 {
    position: absolute;
    width: 200px;
    top: 0;
    color: black;
    left: 85px;
    font-weight: 900;
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #aaa;
}

nav ul {
    float: right;
    margin-right: 5px;
    margin-top: 27px;
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 60x;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    padding: 5px 0;
    color: black;
    font-size: 18px;
    padding: 22px 15px 30px 15px;
}

nav ul li a:hover {
    border-bottom: 4px solid rgb(150, 235, 209);
    color: #1ccf7c;
}

label #s1,
label #s2 {
    font-size: 30 px;
    color: #000;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
} */

.rapper {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.section {
    width: 800px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.section .main-caption {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #aaa;
    margin-top: 30px;
    margin-left: 30px;
    font-family: Montserrat;
}

.section .sub-caption {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #aaa;
    margin-top: 40px;
    margin-left: 130px;
    color: #414141;
    font-family: Montserrat;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.search form input {
    width: 800px;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 2px 2px 2px #aaa;
    font-family: Montserrat;
    font-weight: bolder;
    outline: none;
}

.search form button {
    width: 300px;
    height: 55px;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #aaa;
    color: white;
    background-color: #1ccf7c;
    font-weight: bold;
    font-family: Montserrat;
    margin-left: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #aaa;
    cursor: pointer;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.search form input {
    width: 800px;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 45px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 2px 2px 2px #aaa;
    font-family: Montserrat;
    font-weight: bolder;
    outline: none;
}

.main {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    /* position: relative; */
    width: 480px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 400px;
    padding: 10px;
    font-family: Montserrat;
    background: rgb(150, 247, 215);
}

.container .row1 {
    width: 450px;
    height: 30px;
    font-size: 18px;
    padding-bottom: 5px;
}

.container .row2 {
    width: 450px;
    height: 50px;
}

.container .row2 .block1 {
    width: 225px;
    float: left;
}

.container .row2 .block1 p {
    padding: 5px;
}

.container .row2 .block2 {
    width: 225px;
    float: left;
}

.container .row2 .block2 p {
    padding: 5px;
}

.container .row3 {
    width: 450px;
    height: 50px;
}

.container .row3 .block3 {
    width: 225px;
    float: left;
}

.container .row3 .block3 p {
    padding: 5px;
}

.container .row3 .block4 {
    width: 225px;
    float: left;
}

.container .row3 .block4 p {
    padding: 5px;
}

.container .row4 {
    width: 450px;
    height: 150px;
    text-align: justify;
}

.container .row4 p {
    padding: 5px;
}

.container .btn {
    width: 450px;
    height: 50px;
}

.container .btn button {
    width: 100%;
    height: 40px;
    border: 1px solid #2557A7;
    border-radius: 8px;
    background: #2557A7;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(2, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rate button {
    position: fixed;
    top: 80vh;
    left: 80%;
    width: 300px;
    height: 45px;
    border: 1px solid #1c1c1c;
    border-radius: 8px;
    background: #a72525;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(2, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    font-family: Montserrat;
}

.rate button i {
    padding: 0 5px 0 0;
    float: left;
    margin-left: 50px;
    margin-top: 2px;
}

.rate button p {
    float: left;
    margin-left: 10px;
}