.container{
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 300px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: bisque;
}
h1{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 10px;
    color: purple;
}
form{
    width: 1000px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.container input{
    width: 500px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 25px;
}
.container label{
    font-size: 25px;
    padding-left: 70px;
}
.container input[type="text"]{
    margin-left: 30px;
}
.container input[type="date"]{
    margin-left: 127px;
}
.container input[type="time"]{
    margin-left: 123px;
}
.container input[type="submit"]{
    background-color: red;
    color: white;
    border-radius: 20px;
    margin-left: 123px;
    width: 300px;
    margin-top: 10px;
}
.btn{
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    margin-top: 20px;
}