*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    align-items: center;
    min-height: 100vh;
}
.header {
    background-color: #21C87A;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    border-radius: 100px;
    width: 40px;
    height: auto;
    margin-right: 10px; 
}
.logo a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}
.navbar {
    font-size: 25px;
    background-color: #21C87A;
    overflow: hidden;
    position: sticky;
    top: 0;
    right: 0;
    width: 1500px;
}
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.ftr{
    width: 100%;
    background-color: #21C87A;
    position: sticky;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 22px;
    height: 60px;
    justify-content: space-between;
    padding: 17px;
    margin-top: 160px;
}

.container {
    width: 100%;
    height: auto;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block1, .block2, .block3 {
    position: relative;
    margin: 0 auto;
    width: 450px;
    height: 300px;
    border: 1px solid #aaa;
    border-radius: 20px;
    display: flex;
    background-color: #B1FFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.block1 img, .block2 img, .block3 img {
    border: 1px solid #aaa;
    position: absolute;
    width: 450px;
    height: 250px;
    border: 2px solid black;
    border-radius: 20px;
}

.block1 a button, .block2 a button, .block3 a button {
    position: absolute;
    top: 250px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 45px;
    font-size: 18px;
    background-color: #B1FFFF;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: bold;
}
