@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .title {
    text-align: center;
    padding: 10px;
    margin: 20px;
    letter-spacing: .2em;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid #F83426;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.rapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rapper .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    width: 650px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: rgb(249, 238, 212);
    background: linear-gradient(90deg, rgba(249, 238, 212, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(249, 238, 212, 1) 100%);
}

.rapper .block:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.rapper .block .block1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.rapper .block .block1 .img img {
    width: 50px;
    margin: 5px;
}

.rapper .block .block1 .profile {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 300px;
    padding: 2px;
    font-weight: bold;
}

.rapper .block .block1 .profile .company_name {
    padding-top: 2px;
    font-size: 12px;
    font-weight: 500;
}

.rapper .block .block1 .btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 250px;
    padding: 5px 0;
}

.rapper .block .block1 .btn .update button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #F83426;
    border-radius: 8px;
    background-color: #F83426;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    letter-spacing: .2em;
}

.rapper .block .block1 .btn .delete button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #F83426;
    border-radius: 8px;
    background-color: #F83426;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    letter-spacing: .2em;
}

.rapper .block .block1 .btn .update button:hover {
    background-color: #fff;
}

.rapper .block .block1 .btn .delete button:hover {
    background-color: #fff;
}

.rapper .block .block2 {
    text-align: justify;
    padding: 5px 15px;
    font-size: 14px;
}